@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #d2d4d6;
  --foreground: ##1c1c1c;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
